* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
body {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url(images/bg_image.jpg);
  /* position: absolute; */
  /* background-position: absolute; */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 100vh;
  width: 100%;
}
.header {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  text-align: center;
  color: white;
  font-family: "Metal Mania", cursive;
  font-weight: 400;
  font-size: 4vh;
  text-shadow: 2px 2px 5px black;
}
p {
  text-align: center;
  color: white;
  font-family: "Edu SA Beginner", cursive;
  font-weight: 400;
  font-size: 2.1vh;
  text-shadow: 2px 2px 5px black, -2px -2px 5px black;
}
p > u {
  font-size: 2.5vh;
}
.main {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 1vw;
}
.drum {
  padding: 1vw;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2.56vw;
  row-gap: 1.6vw;
}
.button {
  outline: 0.25vw solid rgba(255, 255, 255, 0.8);
  border-radius: 5%;
  padding: 0 1.6vw;
  margin: 0;
  font-family: "Metal Mania", cursive;
  font-weight: 900;
  color: white;
  font-size: 5.1vh;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.button:active {
  background-color: white;
  outline: 0.9vw solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 10px black;
  color: black;
}
.activeButton {
  background-color: white;
  outline: 0.9vw solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 10px black;
  color: black;
}
.audio {
  display: none;
}
.footer {
  color: black;
  position: absolute;
  bottom: 5%;
  right: 50%;
  transform: translate(50%);
  font-family: "Edu SA Beginner", cursive;
  font-weight: 400;
  font-size: 2.1vh;
  text-shadow: 2px 2px 15px white, -2px -2px 15px white;
}
